bcrypt
psycopg2-binary
pydantic-settings
python-dotenv
fastapi
uvicorn[standard]
email-validator
sqlalchemy
requests
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-dateutil
alembic
fastapi-mail
jinja2
slowapi
redis
cloudinary
pillow


# Testing dependencies
pytest
pytest-asyncio
pytest-cov
pytest-mock
httpx
faker
